@font-face {
    font-family: 'RoundedMplus1c-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('RoundedMplus1c-Medium'),
        url('../fonts/RoundedMplus1c-Medium.woff2') format('font-woff2'),
        url('../fonts/RoundedMplus1c-Medium.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'RoundedMplus1c-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('RoundedMplus1c-Regular'),
        url('../fonts/RoundedMplus1c-Regular.woff2') format('font-woff2'),
        url('../fonts/RoundedMplus1c-Regular.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'FuturaBook-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('FuturaBook-Regular'),
        url('../fonts/FuturaBook-Regular.woff2') format('font-woff2'),
        url('../fonts/FuturaBook-Regular.woff') format('font-woff');
    font-display: swap;
}
   


 
