  
   

  
 @media(max-width: 1250px) {

     // header     

     .menu {
         padding-right: 100px;
     }

     //  main 

     .main__slider-item {
         height: 700px;
     } 
       
 } 
  
 @media(max-width: 1190px) {   
     
    //  products
     
    .products__cards{ 
       justify-content: space-around;
    } 

 } 

  
 @media(max-width: 1110px) {

     // header     

     menu {
         padding-right: 80px;
     } 
       
    //  main 

     .main__slider-item {
        height: 600px;
    } 
      
    // products 

    .products__cards{ 
        flex-wrap: wrap;
    } 
     
   .products__card{ 
      margin: 15px;
   } 
    
   .products__card-price {
       position: absolute;
       top: -1px;
       right: 4px;
    } 
     
    .products__card-text {
        position: absolute;
        top: -3px;
        left: 4px;
    }

 } 
  
 @media(max-width: 1000px) {

    // header     

    menu {
        padding-right: 80px;
    }  
     
    .menu .menu__list {
        top: 97px; 
    }
      
   //  main  
    
   .main {
     margin-bottom: 40px;
    }

    .main__slider-item {
       height: 550px;
   } 
     
  // products 

   .products__content {
     margin-bottom: 30px;
   } 
    
   .products__cards {
    margin-bottom: 70px;
  }

} 
 
@media(max-width: 770px) {

    // header     

    .menu {
        padding-right: 70px;
    }


    // main 

    .main__slider-item {
        height: 500px;
    }  
     
    // products
     
    .products__content {
        margin-bottom: 15px;
    } 
     
    .products__cards {
        margin-bottom: 50px;
    }

} 
 
@media(max-width: 700px) {  
     
    // header      
 
    .menu__item {
        padding: 7px 0;
    }  

} 
 
@media(max-width: 500px) {

    // header     

    .menu {
        padding-right: 50px;
    }


    // main  
     
    .main {
        margin-bottom: 30px;
    }

    .main__slider-item {
        height: 400px;
    }  
     
    // products
     
    .products__card {
        margin: 15px 0;
    } 
     
    .products__card-text {
        position: absolute;
        top: -3px;
        left: -33px;
    } 
      
    .products__card-price {
        position: absolute;
        top: -1px;
        right: -35px;
    }

} 
 
@media(max-width: 414px) {   
     
    // header 

    .menu {
        margin-top: 26px; 
        padding-right: 41px;
    } 
     
    .menu .menu__list {
        top: 77px; 
        padding: 10px 0;
    } 
     
    .main .slick-dots li+li {
        margin-left: 20px;
    } 
     
     // main 

     .main__slider-item {
        height: 320px;
    }   
     
    // products
     
    .products__content {
        margin-bottom: 0px;
    }

    .products__title {
        font-size: 28px;
        margin-bottom: 10px;
    } 
     
    .products__subtitle {
        margin-bottom: 10px;
    } 
     
    .products__btn{ 
        margin-bottom: 0;
    }
     
} 
 
@media(max-width: 390px) {     
     
    // header

    .menu__item {
        padding: 7px 0;
    }   
     
    // products
     
    .products__card-text {
        position: absolute;
        top: -3px;
        left: 0px;
    }  
     
    .products__card-price {
        position: absolute;
        top: -1px;
        right: 0px;
    }

}



