  $main-text-color: #000; 
  

  %roundedmplus1c-500{ 
    font-family: 'RoundedMplus1c-Medium', sans-serif;  
    font-weight: 500;
  } 
    
  %roundedmplus1c-400{ 
    font-family: 'RoundedMplus1c-Regular', sans-serif;  
    font-weight: 400;
  }  
   
  %futurabook-400{ 
    font-family: 'FuturaBook-Regular', sans-serif;  
    font-weight: 400;
  } 
  